.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;
  background: black;
  height: 6rem;
  padding: 0 1rem;
}

.logo {
  width: 2.5rem;
  height: 3rem;
}

.logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: white;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.button {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  border: none;
  background: transparent;
  color: gray;
  font-size: 3rem;
}

.menu-item {
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  font-size: 1rem;
  border-bottom: 1px solid rgb(233, 231, 231);
}

.plus {
  font-size: 1.6rem;
}

.show {
  transform: none;
}

@media only screen and (min-width: 1300px) {
  .header {
    position: fixed;
    padding: 0 3rem;
  }

  .logo {
    margin-right: 2rem;
  }

  .menu {
    transform: none;
    position: relative;
    background: inherit;
    height: inherit;
    flex-direction: row;
    justify-content: end;
    margin-right: 2rem;
    gap: 0;
  }

  .menu-item {
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    display: block;
  }

  .plus {
    display: none;
  }

  .button {
    display: none;
  }
}
